altgraph==0.15
appdirs==1.4.3
backports.shutil-get-terminal-size==1.0.0
buildozer==0.34
certifi==2017.4.17
chardet==3.0.4
click==6.7
colorama==0.3.9
Cython==0.28.3
decorator==4.3.0
dis3==0.1.2
Django==1.11.13
docutils==0.14
enum34==1.1.6
Flask==1.0.2
future==0.16.0
idna==2.5
image==1.5.24
inflection==0.3.1
ipython==5.7.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
Kivy==1.10.0
Kivy-examples==1.10.0
Kivy-Garden==0.1.4
kivy-garden.graph==0.4.0
kivy.deps.angle==0.1.6
kivy.deps.glew==0.1.9
kivy.deps.glew-dev==0.1.9
kivy.deps.gstreamer==0.1.12
kivy.deps.gstreamer-dev==0.1.12
kivy.deps.sdl2==0.1.17
kivy.deps.sdl2-dev==0.1.17
macholib==1.9
MarkupSafe==1.0
more-itertools==5.0.0
numpy==1.14.4
oauthlib==2.0.2
pandas==0.24.2
pathlib2==2.3.2
pefile==2017.11.5
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pybind11==2.6.2
pygame==1.9.3
Pygments==2.2.0
PyInstaller==3.3.1
pypiwin32==223
PySDL2==0.9.6
pyserial==2.5
pysocks==1.6.7
python-dateutil==2.8.0
python-for-android==0.6.0
pytz==2018.4
pywin32==223
Quandl==3.4.9
requests==2.17.3
requests-oauthlib==0.8.0
scandir==1.7
scikit-learn==0.20.4
scipy==1.2.3
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
traitlets==4.3.2
tweepy==3.6.0
urllib3==1.21.1
virtualenv==16.0.0
wcwidth==0.1.7
Werkzeug==0.14.1
win-unicode-console==0.5
